#<h1>Login</h1>
#<%= form_with(url: "/login", method: "post") do |f| %>
 # <div>
  #  <%= label_tag :email, "Email:" %>
   # <%= text_field_tag :email %>
  #</div>
  #<div>
   # <%= label_tag :password, "Password:" %>
    #<%= password_field_tag :password %>
  #</div>
  #<div>
   # <%= label_tag :role, "Role:" %>
    #<%= select_tag :role, options_for_select([["Member", "member"], ["Staff", "staff"]]) %>
 # </div>
  #<%= submit_tag "Login" %>
#<% end %>