<header>
  <!-- Navigation bar -->
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', about_path %></li>
      <li><%= link_to 'Contact Us', contact_path %></li>
      <li><%= link_to 'Private Classes', private_class_index_path %></li>
      <li><%= link_to 'Group Classes', group_class_index_path %></li>
    </ul>
  </nav>

  <!-- Company name -->
  <div class="company-name">
    <!-- Link to the Home page using the company name -->
    <%= link_to 'Fast Fit Gym', root_path %>
  </div>
</header>
